@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
body {
  font-family: 'Poppins';
  line-height: 1.4;
  background-color: #D7DCDD;
  margin: auto; 
}

#title, #description{
  text-align: center;
}

form {
  background: rgba(26, 158, 219, 0.2);
  padding: 2.5rem 2.5rem;
  border-radius: 2rem;
  width: 500px;
  margin: auto; 
}

.form-inputs {
  display: block; 
  width: 90%;
  height: 2rem;
  padding: 0.25rem 0.75rem;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

#dropdown {
  display: block; 
  width: 95.5%;
  height: 2rem;
  padding: 0.25rem 0.75rem;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.input-headings {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  min-height: 100px;
  width: 96%;
  padding: 0.55rem;
  border-radious: 2px;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: #5EAD44;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}

@media only screen and (max-width: 800px) 
{
  form {
  width: 65%; 
  height: auto;}
}